<app-chat-list
  *ngIf="!this.embd || (this.embd && this.chatType === 'PRIVMSG')"
  [actualNick]="actualNick"
  [channels]="chatsRooms"
  [actualChat]="chatName"
  [actualIsPrivateChat]="chatType === 'PRIVMSG'"
  [privateChats]="privateChats"
  [serverSelected]="isInServerLog"
  [notifications]="notifications"
  (changeChat)="changeChat($event)"
  (selectServer)="selectServer()"
  (openServerCFG)="connectPopup = true"
  (changeNick)="changeNick($event)"
></app-chat-list>
<app-chat-box #cbox
  [users]="channelUsers"
  [messages]="messages"
  [chatName]="chatName"
  [chatType]="chatType"
  [topic]="chatTopic"
  [members]="chatMembers"
  (sendCommand)="send($event)"
  (openPrivateMessage)="openPrivateChat($event)"
></app-chat-box>
<app-user-list
  *ngIf="!this.embd || (this.embd && this.chatType !== 'PRIVMSG')"
  [users]="channelUsers"
  (openPrivateChat)="openPrivateChat($event)"
></app-user-list>
<app-server-box *ngIf="connectPopup"
  [isConnected]="isConnected"
  [connectionError]="connectionError"
  (connected)="connect($event)"
  (closePopup)="connectPopup = false"
></app-server-box>
<!-- POPUPS -->
<div class="boxAlert" *ngIf="advertenciaBanneado">
  <section>
    <header>Oops!</header>
    <p>
      Usted se encuentra banneado en este canal.
    </p>
    <footer>
      <button (click)="advertenciaBanneado = false">Aceptar</button>
    </footer>
  </section>
</div>

<div class="boxAlert" *ngIf="advertenciaKickeado">
  <section>
    <header>Fuiste Kickeado.</header>
    <p>
      Fuiste explusado del canal {{canalKickeado}}
    </p>
    <footer>
      <button (click)="advertenciaKickeado = false">Aceptar</button>
    </footer>
  </section>
</div>

<div class="boxAlert" *ngIf="cambiarNickPopup">
  <section>
    <header>Ingrese su nuevo nick</header>
    <p>
      <input type="text" placeholder="mi nick" [(ngModel)]="nuevoNick"/>
    </p>
    <footer>
      <button (click)="changeNickConfirmar()">Cambiar</button>
      <button (click)="cambiarNickPopup = false" class="secondary">Cancelar</button>
    </footer>
  </section>
</div>
