aside {
  width: 22vw;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  overflow: hidden;
  background: #242a31;
  box-shadow: 0px 0px 5px black;
  float: left;
  > header {
    height: 60px;
    padding: 2vh 2vw;
    border-bottom: 1px solid #0f1316;
    margin-bottom: 1vh;
    font-family: Helvetica;
    h3 {
      color: #aeb0b3;
    }
  }
  section {
    padding: 1vh 1vw;
    header {
      color: #565a5f;
      font-family: helvetica;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    ul {
      list-style: none;
      padding-inline-start: 1vh;
      li {
        color: #686d72;
        font-family: helvetica;
        padding: 1vh 5px;
        cursor: pointer;
        border-radius: 5px;
        &.me {
          color: #fad56e;
        }
        &:hover {
          color: #aeb0b4;
          background-color: #343c44;
        }
        img {
          vertical-align: middle;
          width: 30px;
          margin-right: 4px;
        }
        .badge {
          font-family: helvetica;
          text-transform: uppercase;
          font-size: 10px;
          padding: 4px;
          border-radius: 4px;
          font-weight: bolder;
          margin-left: 5px;
          &.op {
            background: #2c4b26;
            color: #79d87d;
            border: 1px solid #8cde77;
          }
          &.founder {
            background: #4b3526;
            color: #dea777;
            border: 1px solid #deb077;
          }
          &.hop {
            background: #26344b;
            color: #779fde;
            border: 1px solid #779fde;
          }
        }
        .voice {
          display: inline-block;
          width: 7px;
          height: 7px;
          background: #3cd263;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }
  }
}
