<aside>
  <header>
    <h3>
      Información del canal
    </h3>
  </header>
  <section>
    <header>
      Miembros
    </header>
    <nav>
      <ul>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/gridy/Gabriela-.svg?options[colorful]=1" />
          Gabriela-
          <span class="badge op">Operador</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/gridy/Harkonidaz.svg?options[colorful]=1" />
          Harkonidaz
          <span class="badge founder">Fundador</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/gridy/Harkonidaz.svg?options[colorful]=1" />
          Polsaker
          <span class="badge hop">Semi-Operador</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/gridy/Harkonidaz.svg?options[colorful]=1" />
          Harkonidaz
          <div class="voice"></div>
        </li>
      </ul>
    </nav>
  </section>
</aside>
