aside {
  width: 22vw;
  &.embedded {
    width: 25vw;
  }
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  overflow: hidden;
  background: var(--aside-background);
  box-shadow: 0px 0px 5px black;
  float: left;
  > header {
    height: 60px;
    padding: 2vh 2vw;
    border-bottom: 1px solid var(--aside-separator);
    margin-bottom: 1vh;
    font-family: Helvetica;
    h3 {
      color: var(--aside-title-color);
    }
  }
  section {
    padding: 1vh 1vw;
    height: calc(96vh - 90px);
    header {
      color: var(--aside-header-color);
      font-family: helvetica;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    nav {
      height: calc(100% - 1vh - 14px);
    }
    ul {
      list-style: none;
      padding-inline-start: 1vh;
      max-height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-bg);
      }
      &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-bg-hover);
        box-shadow: 0 0 2px 1px #212429;
      }
      &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-left: 1px solid var(--scrollbar-track-border);
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      li {
        color: var(--aside-item-color);
        font-family: helvetica;
        padding: 1vh 5px;
        cursor: pointer;
        border-radius: 5px;
        &.netOp {
          color: #ffd500de;
          animation: shadowEff 3s linear infinite;
        }
        &.away {
          opacity: 0.5;
        }
        &.me {
          color: var(--alternative-button-active);
        }
        &:hover {
          color: var(--aside-item-hover-color);
          background-color: var(--aside-item-hover-bg);
        }
        img {
          vertical-align: middle;
          max-width: 30px;
          max-height: 30px;
          margin-right: 4px;
        }
        .badge {
          font-family: helvetica;
          text-transform: uppercase;
          font-size: 10px;
          padding: 4px;
          border-radius: 4px;
          font-weight: bolder;
          margin-left: 5px;
          border: 1px solid;
          background: #181818;
          &.op {
            background: var(--badge-op-bg);
            color: var(--badge-op-color);
            border: 1px solid var(--badge-op-border);
          }
          &.founder {
            background: var(--badge-founder-bg);
            color: var(--badge-founder-color);
            border: 1px solid var(--badge-founder-border);
          }
          &.hop {
            background: var(--badge-hop-bg);
            color: var(--badge-hop-color);
            border: 1px solid var(--badge-hop-border);
          }
          &.netop {
            background: var(--badge-netop-bg);
            color: var(--badge-netop-color);
            border: 1px solid var(--badge-netop-border);
          }
        }
        .voice {
          display: inline-block;
          width: 7px;
          height: 7px;
          background: var(--voice-point-bg);
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }
  }
}

@keyframes shadowEff {
  0% {
    text-shadow: 0px 0px 5px #ad3c4f;
  }
  25% {
    text-shadow: 0px 0px 3px #3cad5a;
  }
  50% {
    text-shadow: 0px 0px 3px #3c6ead;
  }
  75% {
    text-shadow: 0px 0px 3px #ad3c3c
  }
  100% {
    text-shadow: 0px 0px 5px #ad3c4f;
  }
}
