<aside [class.embedded]="embd">
  <header>
    <h3>
      Información del canal
    </h3>
  </header>
  <section>
    <header>
      Miembros
    </header>
    <nav>
      <ul>
        <li class="channel" *ngFor="let user of users" (click)="openPrivate(user.nick)" [class.away]="false" [class.netOp]="false">
          <img [src]="toolService + 'avatar?usr=' + user.nick" />
          {{user.nick}}
          <span class="badge founder" *ngIf="user.status == 'FOUNDER'">Founder</span>
          <span class="badge netop" *ngIf="user.status == 'NET_OPERATOR'">Admin</span>
          <span class="badge op" *ngIf="user.status == 'OPERATOR'">Operator</span>
          <span class="badge hop" *ngIf="user.status == 'HALF_OPERATOR'">Half-Op</span>
          <span class="badge customr" *ngIf="false" [style.color]="false" [style.border-color]="false">RANGO</span>
          <div class="voice" *ngIf="user.status == 'VOICE'"></div>
        </li>
      </ul>
    </nav>
  </section>
</aside>
