<aside [class.embedded]="embd">
  <header>
    <h3>
      Información del canal
    </h3>
  </header>
  <section>
    <header>
      Miembros
    </header>
    <nav>
      <ul>
        <li class="channel" *ngFor="let user of users" (click)="openPrivate(user.nick)" [class.away]="usSrv.getUser(user.nick).away" [class.netOp]="usSrv.getUser(user.nick).isNetOp">
          <img src="https://avatars.dicebear.com/api/jdenticon/{{user.nick}}.svg?options[colorful]=1" />
          {{user.nick}}
          <span class="badge founder" *ngIf="user.status == 'FOUNDER'">Founder</span>
          <span class="badge netop" *ngIf="user.status == 'NET_OPERATOR'">Admin</span>
          <span class="badge op" *ngIf="user.status == 'OPERATOR'">Operator</span>
          <span class="badge hop" *ngIf="user.status == 'HALF_OPERATOR'">Half-Op</span>
          <div class="voice" *ngIf="user.status == 'VOICE'"></div>
        </li>
        <!-- <li class="channel me">
          <img src="https://avatars.dicebear.com/api/jdenticon/Harkonidaz.svg?options[colorful]=1" />
          Harkonidaz
          <span class="badge founder">Founder</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Gabriela.svg?options[colorful]=1" />
          Gabriela-
          <span class="badge op">Operator</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Polsaker.svg?options[colorful]=1" />
          Polsaker
          <span class="badge hop">Half-Op</span>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Harkonidaz.svg?options[colorful]=1" />
          Harkonidaz
          <div class="voice"></div>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Alan.svg?options[colorful]=1" />
          Alan
          <div class="voice"></div>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Strastrous22.svg?options[colorful]=1" />
          Strastrous22
          <div class="voice"></div>
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/Aki77.svg?options[colorful]=1" />
          Aki77
        </li>
        <li class="channel">
          <img src="https://avatars.dicebear.com/api/jdenticon/ProbandingUser.svg?options[colorful]=1" />
          ProbandingUser
        </li> -->
      </ul>
    </nav>
  </section>
</aside>
