<main>
  <div class="box">
    <header>
      Whois {{nick}}
      <svg (click)="oClose.emit()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
    </header>
    <section>
      <div class="blockInfo" *ngIf="data.connectedFrom">
        <header>
          Conectado desde:
        </header>
        <span>{{data.connectedFrom}}</span>
      </div>
      <div class="blockInfo" *ngIf="data.server">
        <header>
          Server:
        </header>
        <span>{{data.server}}</span>
      </div>
      <div class="blockInfo" *ngIf="data.isGOP">
        <header>
          Operador Global
        </header>
        <span>NETOP</span>
      </div>
      <div class="blockInfo" *ngIf="data.modes">
        <header>
          Modos del usuario:
        </header>
        <span>{{data.modes}}</span>
      </div>
      <div class="blockInfo" *ngIf="data.userAccount">
        <header>
          Cuenta del usuario:
        </header>
        <span>{{data.userAccount}}</span>
      </div>
      <div class="blockInfo" *ngIf="data.userAccount">
        <header>
          Conexión segura:
        </header>
        <span *ngIf="data.isSecured" style="font-weight: bolder;color: #38a238;">SI</span>
        <span *ngIf="!data.isSecured" style="font-weight: bolder;color:#a23838">NO</span>
      </div>
      <div class="blockInfo"*ngIf="data.idle">
        <header>
          Tiempo inactivo:
        </header>
        <span>{{data.getIdle()}}</span>
      </div>
      <div class="blockInfo"*ngIf="data.lastLogin">
        <header>
          Ultimo login:
        </header>
        <span>{{data.getLastLogin()}}</span>
      </div>
      <ul *ngIf="data.channelList">
        <li *ngFor="let channel of channels">
          {{channel.channel}}
          <span style="font-weight: bold;color: #38a238;font-style: italic;">{{channel.range}}</span>
        </li>
      </ul>
    </section>
  </div>
</main>
