[Desktop Entry]
Version=1.0
Type=Application
Name=HiraClient
Exec=/home/harko/tools/hira/Hira Client-1.0.0.AppImage
Icon=/home/harko/tools/hira/icon.png

