main {
  width: 60vw;
  display: inline-block;
  height: 100vh;
  overflow: hidden;
  vertical-align: top;
  background: var(--cbox-background);
  box-shadow: 0px 0px 2vw black;
  position: relative;
  float: left;
  header {
    height: 60px;
    padding: 2vh 2vw;
    background: var(--cbox-header-background);
    border-bottom: 1px solid var(--cbox-header-border);
    &.embedded {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      .subtitle {
        margin: 0px;
      }
    }
    svg, img {
      width: 30px;
      color: var(--cbox-svg-color);
    }
    h3 {
      margin: 0px 15px;
      display: inline-block;
      color: var(--cbox-header-main-color);
      font-family: Helvetica;
      .copiado {
        font-weight: normal;
        font-size: 14px;
        position: absolute;
        right: calc(2vw - 20px);
        z-index: 1;
        margin-top: 20px;
        padding: 2px 5px;
        background: var(--cbox-background);
        border-radius: 3px;
        box-shadow: 0px 0px 5px black;
        border: 1px solid black;
        color: var(--cbox-color);
        &::before {
          content: "";
          display: block;
          width: 10px;
          background: var(--cbox-background);
          height: 10px;
          position: absolute;
          top: -6px;
          transform: rotate(45deg);
          right: calc(50% + -5px);
          z-index: -1;
          border-top: 1px solid black;
          border-left: 1px solid black;
        }
      }
      span {
        color: var(--cbox-header-color);
        font-family: Helvetica;
        font-weight: normal;
      }
      svg {
        position: absolute;
        right: 2vw;
        width: 25px;
        cursor: pointer;
        &:hover {
          color: var(--alternative-button-active);
        }
      }
    }
    .subtitle {
      margin: 0px 45px;
      color: var(--cbox-header-subtitle-color);
      font-family: Helvetica;
      height: 17px;
      overflow: hidden;
    }
    a.fullVersion {
      font-weight: 100;
      position: absolute;
      right: 2vw;
      top: 10px;
      padding: 5px;
      border-radius: 5px;
      background: var(--full-version-button-bg);
      color: var(--full-version-button-color);
      border: 1px solid var(--full-version-button-border);
      text-decoration: none;
      &:hover {
        background: var(--full-version-button-bg-hover);
        color: var(--full-version-button-color-hover);
      }
      &.desktop {
        right: calc(2vw + 165px);
        color: #de9d5c;
        border-color: #de9d5c;
        background-color: #4b3526;
      }
    }
    a.desktopFV {
      font-weight: 100;
      position: absolute;
      right: calc(85px);
      top: 20px;
      padding: 5px;
      border-radius: 5px;
      background: var(--full-version-button-bg);
      color: var(--full-version-button-color);
      border: 1px solid var(--full-version-button-border);
      text-decoration: none;
    }
  }
  section {
    height: calc(92vh - 78px);
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    color: var(--cbox-color);
    > :first-child {
        margin-top: auto !important;
    }
    .messageItem {
      margin: 1.3vh 2vw;
      font-family: helvetica;
      &.server {
        margin: 0px 2vw;
        font-family: monospace;
      }
      &.notice {
        margin: 0px 2vw;
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
      }
      nav.actions {
        float: right;
        margin: 5px;
        color: var(--cbox-message-nav-action-color);
        opacity: 0.2;
        transition: opacity 0.3s;
        svg {
          width: 20px;
          cursor: pointer;
        }
      }
      &:hover {
        nav.actions {
          opacity: 1;
        }
      }
      img.notifyDecoration {
        width: 50px!important;
        display: inline-block!important;
        margin-left: 5px;
      }
      .joinMSG, .leaveMSG {
        color: var(--cbox-message-join-color);
        font-size: 10px;
        img {
          width: 30px;
        }
      }
      &.embedded {
        .joinMSG, .leaveMSG {
          display: none;
        }
      }
      .changeNickMSG {
        color: var(--cbox-message-chgNick-color);
        font-size: 10px;
        img {
          width: 30px;
        }
      }
      .kickMSG, .banMSG {
        color: var(--cbox-message-kickban-color);
        font-size: 10px;
        img {
          width: 30px;
        }
      }
      .messageBody {
        display: inline-block;
        vertical-align: top;
        margin-left: 6px;
        max-width: calc(100% - 100px);
        &.actionOrigin {
          color: var(--cbox-message-action-me-color);
          span {
            font-weight: bold;
            font-style: italic;
          }
          &.special {
            color: var(--cbox-message-action-me-color-special);
            font-size: 12px;
            margin: -5px;
          }
        }
        &.actionNotify {
          color: var(--cbox-message-action-me-color-botnotify);
          span {
            font-weight: bold;
            font-style: italic;
            font-size: 12px;
            line-height: 12px;
          }
        }
        &.mentioned {
          background: var(--cbox-message-mention-bg);
          color: var(--cbox-message-mention-color);
        }
        .quote {
          background: var(--cbox-quote-background);
          border: 1px solid var(--cbox-quote-border);
          border-radius: 3px;
          padding: 5px;
          margin: 5px 0px;
          font-size: 12px;
          svg {
            width: 20px;
            color: var(--cbox-quote-icon);
            margin-right: 5px;
          }
        }
        .author {
          font-weight: bolder;
          &:hover {
            color: var(--cbox-author-hover);
            cursor: pointer;
          }
          span {
            font-weight: normal;
            font-size: 12px;
            color: var(--cbox-message-time);
            margin-left: 5px;
          }
        }
        img {
          display: block;
          max-width: 150px;
          max-height: 150px;
          width: initial;
          border: 1px solid var(--cbox-message-image-bg);
          border-radius: 5px;
          margin-top: 5px;
        }
        iframe {
          margin-top: 5px;
          display: block;
          max-width: 100%;
        }
      }
    }
    &::-webkit-scrollbar-thumb {
      background: var(--cbox-scrollbar-bg);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--cbox-scrollbar-bg);
      box-shadow: 0 0 2px 1px #212429;
    }
    &::-webkit-scrollbar-track {
      background: var(--cbox-scrollbar-track);
      border-left: 1px solid var(--cbox-scrollbar-track-border);
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    .infoNewMessages {
      text-align: center;
      position: absolute;
      bottom: 7vh;
      width: 50%;
      padding: 10px;
      box-sizing: border-box;
      color: var(--cbox-notify-message);
      margin-left: 25%;
      background: var(--aside-background);
      border-radius: 5px;
      box-shadow: 0px 0px 5px black;
      animation: infoIngress 0.2s linear forwards;
      cursor: pointer;
    }
  }
  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: var(--cbox-footer-bg);
    border-top: 1px solid var(--cbox-footer-border);
    .quote {
      margin: 0px 2vw;
      margin-bottom: -1vh;
      z-index: 1;
      position: relative;
      background: var(--cbox-quote-background);
      border: 1px solid var(--cbox-footer-quote-border);
      color: var(--cbox-quote-color);
      border-radius: 5px;
      padding: 5px;
      width: 90%;
      margin-top: 1vh;
      svg.fa-quote-right {
        width: 15px;
        color: var(--cbox-footer-quote-icon-color);
        margin-right: 5px;
      }
      svg.fa-times {
        cursor: pointer;
        width: 12px;
        float: right;
        margin-right: 5px;
      }
      span.author {
        font-weight: bold;
      }
    }
    input {
      border: none;
      padding: 2vh 2vw;
      font-family: Helvetica;
      font-size: 15px;
      outline: none;
      width: calc(100% - 4vw - 70px);
      background: transparent;
      color: var(--cbox-input-color)
    }
    button {
      position: absolute;
      width: 35px;
      height: 36px;
      border-radius: 50%;
      border: none;
      background: var(--cbox-footer-image-icon-bg);
      text-align: center;
      color: var(--cbox-footer-image-icon-color);
      outline: none;
      right: 1vw;
      bottom: calc(50% - 18px);
      cursor: pointer;
      svg {
        width: 19px;
      }
    }
  }
  &.embedded {
    width: 75vw;
    img, svg {
      width: 30px;
    }
    header {
      padding: 0px 2vw;
    }
    section {
      height: calc(96vh - 78px);
      .messageItem {
        margin: 0.5vh 1vw;
      }
    }
  }
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  img {
    width: initial;
    max-height: 50px;
    max-width: 50px;
  }
}

img, svg {
  width: 50px;
  vertical-align: middle;
  &.fa-spinner {
    animation: fa-spin 1s infinite steps(8);
  }
}

.serverMSG {
  opacity: 0.5;
}

.fromLog {
  opacity: 0.5;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes infoIngress {
  0% {
    bottom: 30px;
    opacity: 0;
  }
  100% {
    bottom: 60px;
    opacity: 1;
  }
}
