a.vcard {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  background: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #2d2d2d;
  margin-top: 5px;
  position: relative;
  span {
    font-size: 12px;
    width: calc(100% - 43px);
    overflow: hidden;
    white-space: nowrap;
    display: block;
    &.title {
      font-weight: bolder;
      font-size: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  .loading {
    height: 20px;
    width: calc(100% - 43px);
    position: relative;
    &::after {
      content: "";
      width: 50px;
      height: 18px;
      background: linear-gradient(90deg, transparent, #80808094, transparent);
      display: block;
      position: absolute;
      animation: loadingTxt 3s linear infinite;
    }
  }
  img {
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
  }
}

@keyframes loadingTxt {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
