a.vcard {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  background: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #2d2d2d;
  margin-top: 5px;
  h3 {
    margin: 0px;
    margin-bottom: 5px;
  }
  span {
    font-size: 12px;
  }
}
