main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box {
    font-family: Helvetica;
    width: 250px;
    padding: 5px;
    background: #e8e8e8;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    header {
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: #404040;
      margin-bottom: 5px;
      border-bottom: 1px solid #b5b5b5;
      padding: 8px 0px;
    }
    section {
      .inputBox {
        margin: 10px 0px;
        label {
          color: #242a31;
          font-size: 16px;
        }
        input {
          border: 1px solid gray;
          border-radius: 3px;
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
        }
      }
    }
    footer {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #b5b5b5;
      button {
        background: #242a31;
        border-radius: 3px;
        border: 0px;
        float: right;
        padding: 5px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
