main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box {
    font-family: Helvetica;
    width: 250px;
    padding: 5px;
    background: var(--popup-background);
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    header {
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: var(--popup-color);
      margin-bottom: 5px;
      border-bottom: 1px solid var(--popup-separtor);
      padding: 8px 0px;
    }
    section {
      color: var(--popup-color);
      p.error {
        text-align: center;
        font-weight: bolder;
        color: var(--popup-error-color);
        font-style: italic;
      }
      .inputBox {
        margin: 10px 0px;
        label {
          color: var(--popup-label-color);
          font-size: 16px;
        }
        input {
          border: 1px solid var(--popup-separtor);
          border-radius: 3px;
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
        }
      }
    }
    footer {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid var(--popup-separtor);
      button {
        background: var(--popup-button-background);
        border-radius: 3px;
        border: 0px;
        float: right;
        padding: 5px;
        cursor: pointer;
        color: var(--popup-button-color);
      }
    }
  }
}
