/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.faceEmote {
  width: 80px;
  vertical-align: middle;
  background: #dcdcdc;
  border-radius: 3px;
  transition: width 1s;
  &:hover {
    width: 150px
  }
}

.memeEmote {
  max-width: 200px;
  vertical-align: middle;
  border-radius: 3px;
  transition: max-width 1s;
  &:hover {
    max-width: 400px;
  }
}

@font-face {
  src: url(assets/poppins.ttf);
  font-family: Poppins;
}
