/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
}

body {
  margin: 0px;
}

.cabritaEff {
  position: fixed;
}

.faceEmote {
  width: 50px;
  vertical-align: middle;
  background: var(--face-emote-bg);
  border-radius: 3px;
  transition: width 1s;
  &:hover {
    width: 150px;
  }
  &.regla {
    &:hover {
      width: 400px;
    }
  }
}

.memeEmote {
  max-width: 200px;
  vertical-align: middle;
  border-radius: 3px;
  transition: max-width 1s;
  &:hover {
    max-width: 400px;
  }
}

@font-face {
  src: url(assets/poppins.ttf);
  font-family: Poppins;
}

:root {
  // Aside pannels:
  --aside-background: #242a31;
  --aside-title-color: #797a7d;
  --aside-input-bg: #363d44;
  --aside-input-color: white;
  --aside-header-color: #565a5f;
  --aside-item-color: #92979c;
  --aside-item-hover-color: #aeb0b4;
  --aside-item-hover-bg: #343c44;
  --aside-footer-bg: #212429;
  --aside-footer-color: #797a7d;
  --aside-separator: #0f1316;
  --aside-notify-bg: #5fd5e5;
  --aside-notify-important-bg: #e55f5f;

  --face-emote-bg: #dcdcdc;

  // scrollbar:
  --scrollbar-bg: #181b1f;
  --scrollbar-bg-hover: var(--scrollbar-bg);
  --scrollbar-track: #e7e9ef;
  --scrollbar-track-border: #c3c3c3;

  // special icon:
  --alternative-button-color: var(--aside-footer-color);
  --alternative-button-active: #fad56e;

  // POPUP Server Connection and others:
  --popup-background: #e8e8e8;
  --popup-color: #404040;
  --popup-label-color: #242a31;
  --popup-separtor: #b5b5b5;
  --popup-button-background: #242a31;
  --popup-button-background-secondary: #1b3450;
  --popup-button-color: white;
  --popup-input-background: white;
  --popup-input-color: black;
  --popup-error-color: red;
  --popup-list-bg: white;
  --popup-list-border-color: gray;
  --popup-list-bg-hover: #dcdcdc;
  --popup-list-bg-active: #c3c3c3;

  // tags:
  --badge-op-bg: #2c4b26;
  --badge-op-color: #79d87d;
  --badge-op-border: #8cde77;

  --badge-founder-bg: #4b3526;
  --badge-founder-color: #dea777;
  --badge-founder-border: #deb077;

  --badge-hop-bg: #26344b;
  --badge-hop-color: #779fde;
  --badge-hop-border: var(--badge-hop-color);

  --badge-netop-bg: #3d264b;
  --badge-netop-color: #a977de;
  --badge-netop-border: #b677de;

  --voice-point-bg: #3cd263;

  // main box:
  --cbox-background: linear-gradient(170deg, #eff2f5, #e7e9ef);
  --cbox-color: black;
  --cbox-input-color: #e9ebf0;
  --cbox-header-background: #212429;
  --cbox-header-main-color: white;
  --cbox-header-color: #797a7d;
  --cbox-header-border: transparent;
  --cbox-header-subtitle-color: var(--cbox-header-color);
  --cbox-svg-color: var(--cbox-header-color);

  --full-version-button-bg: #2c4b26;
  --full-version-button-color: #79d87d;
  --full-version-button-border: #8cde77;
  --full-version-button-bg-hover: #33542c;
  --full-version-button-color-hover: #5dc761;

  --cbox-message-nav-action-color: gray;
  --cbox-message-join-color: #490098;
  --cbox-message-chgNick-color: #02752b;
  --cbox-message-kickban-color: #983900;

  --cbox-message-action-me-color: green;
  --cbox-message-action-me-color-special: #800075;

  --cbox-message-mention-bg: #ffe1a9;
  --cbox-message-mention-color: #803000;

  --cbox-quote-background: white;
  --cbox-quote-color: var(--cbox-color);
  --cbox-quote-border: gray;
  --cbox-quote-icon: #a7a7a7;

  --cbox-author-hover: #004dff;
  --cbox-message-time: #4e4e4e;
  --cbox-message-image-bg: #cccccc;

  --cbox-scrollbar-bg: #242a31;
  --cbox-scrollbar-hover-bg: var(--cbox-scrollbar-bg);
  --cbox-scrollbar-track: #e7e9ef;
  --cbox-scrollbar-track-border: #c3c3c3;

  --cbox-footer-bg: #212429;
  --cbox-footer-border: #c3c3c3;
  --cbox-footer-quote-border: gray;
  --cbox-footer-quote-icon-color: #a7a7a7;

  --cbox-footer-image-icon-bg: #5d6976;
  --cbox-footer-image-icon-color: white;

  --link-border: #cccccc;
  --link-background: white;
  --link-color: #2d2d2d;
  --link-loading: linear-gradient(90deg, transparent, #80808094, transparent);

  --cbox-notify-message: #93beff;
  --cbox-message-action-me-color-botnotify: #6d0000;
}

.darkSkin {
  --cbox-background: #1f1f1f;
  --cbox-color: #a6a6a6;
  --cbox-input-color: var(--cbox-color);
  --cbox-message-time: #afafaf;
  --cbox-quote-background: #0e0e0e;
  --cbox-quote-border: #676666;
  --cbox-quote-color: #e4e4e4;
  --cbox-message-action-me-color: #54c154;
  --cbox-message-action-me-color-special: #de3369;
  --cbox-author-hover: #5c8af3;
  --face-emote-bg: transparent;
  --cbox-message-join-color: #b779fb;
  --cbox-message-kickban-color: #ffc6a4;
  --cbox-scrollbar-bg: #464646;
  --cbox-scrollbar-track: #282828;
  --cbox-scrollbar-track-border: #0f1316;
  --cbox-footer-bg: #282828;
  --cbox-footer-border:#0f1316;
  --cbox-footer-image-icon-bg: #464646;
  --cbox-footer-image-icon-color: #b1b1b1;
  --cbox-header-background: #282828;
  --cbox-header-main-color: #d4d4d4;
  --cbox-header-color: #888888;
  --cbox-header-border: #0f1316;
  --aside-background: #282828;
  --aside-footer-bg: #1f1f1f;
  --aside-input-bg: #1f1f1f;
  --aside-item-hover-bg: #1f1f1f;
  --scrollbar-bg: #464646;
  --scrollbar-track: #282828;
  --scrollbar-track-border: #0f1316;
  --link-border: #0f1316;
  --link-background: 282828;
  --link-color: #78797c;
  --cbox-message-image-bg: #0f1316;
  --popup-background: #282828;
  --popup-color: #d4d4d4;
  --popup-label-color: #797a7a;
  --popup-separtor: #0f1316;
  --popup-button-background: #4c4c4c;
  --popup-button-background-secondary: #1b3450;
  --popup-error-color: #d02828;
  --popup-input-background: #232323;
  --popup-input-color: #a6a6a6;
  --popup-list-bg: #313131;
  --popup-list-border-color: black;
  --popup-list-bg-hover: #272727;
  --popup-list-bg-active: #191818;

  --cbox-message-mention-bg: #1f1f1f;
  --cbox-message-mention-color: #c84e4e;

  --cbox-notify-message: #dba9ff;
  --cbox-message-action-me-color-botnotify: #82aab1;
}
