.emotePopup {
  position: absolute;
  bottom: 6vh;
  right: 60px;
  height: 50%;
  width: 363px;
  overflow-y: auto;
  border-radius: 5px;
  background: #1c2229;
  border: 1px solid black;
  &::-webkit-scrollbar-thumb {
    background: #6c6d72;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #96979c;
  }
  &::-webkit-scrollbar-track {
    background: #1c2229;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  nav {
    font-family: helvetica;
    .tab {
      display: inline-block;
      float: left;
      width: 50%;
      text-align: center;
      background: rgb(0 0 0 / 0.23);
      border-bottom: 1px solid black;
      color: wheat;
      cursor: pointer;
      &:first-child {
        width: calc(50% - 1px);
        border-right: 1px solid black;
      }
      &:hover {
        background: rgb(0 0 0 / 0.3);
      }
    }
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    &.memes {
      li {
        font-family: helvetica;
        border-bottom: 1px dotted black;
        margin-bottom: 5px;
        padding-bottom: 5px;
        color: wheat;
        cursor: pointer;
        span {
          display: block;
          text-align: center;
          margin-bottom: 5px;
        }
        img {
          width: 300px;
          margin: 0 auto;
          display: block;
        }
        &:hover {
          background: rgb(0 0 0 / 0.2);
        }
      }
    }
    &.emotes {
      li {
        font-family: helvetica;
        width: 100px;
        color: wheat;
        display: inline-block;
        margin: 2px;
        vertical-align: top;
        border: 1px solid black;
        padding: 5px;
        cursor: pointer;
        img {
          width: 50px;
          height: 50px;
          vertical-align: middle;
          border-radius: 3px;
          transition: width 1s;
          margin: 0 auto;
          display: block;
        }
        span {
          display: block;
          text-align: center;
        }
        &:hover {
          background: rgb(0 0 0 / 0.2);
        }
      }
    }
  }
}
