main {
  width: 97vw;
  float: right;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
}

app-nav {
  float: left;
  height: 100%;
}
app-menu {
  height: 100%;
}

app-chat {
  flex-grow: 1;
}
