nav {
  background: linear-gradient(#1c2229, #1d232a);
  width: 3vw;
  height: 100%;
  display: inline-block;
  position: relative;
  header {
    height: 75px;
    svg {
      color: #dcdcdc;
      width: 70%;
      margin: 15%;
      margin-top: 2vh;
    }
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      color: #96979c;
      a {
        color: #96979c;
        display: block;
      }
      position: relative;
      cursor: pointer;
      svg {
        width: 50%;
        margin: 25%;
      }
      span {
        display: none;
        z-index: 1;
        position: absolute;
        top: 13px;
        left: calc(3vw - 4px);
        background: black;
        color: white;
        padding: 3px;
        border-radius: 3px;
        width: max-content;
        box-shadow: 0px 0px 3px black;
        font-family: 'Chata Normal';
        &::after {
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          position: absolute;
          background: black;
          background: #000000b8;
          top: 8px;
          left: -5px;
          z-index: 0;
          transform: rotate(45deg);
        }
      }
      &:hover {
        span {
          display: block;
        }
        background: #272e36;
      }
      &.active {
        background: #272e36;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    .activeBox {
      width: 75%;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 0px 5px #000000a6;
      img {
        width: 100%;
        border-radius: 50%;
      }
      &::after{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50px;
        background: #325eaf;
      }
      &.active::after {
        background: #00ff72;
      }
      &.error::after {
        background: #af3232;
      }
    }
  }

}
