aside {
  background-color: #1d232a;
  width: 18vw;
  height: 100vh;
  display: inline-block;
  > header {
    text-align: center;
    height: 60px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #0f1316;
    margin-bottom: 1vh;
    input {
      background: #363d44;
      border: none;
      border-radius: 50px;
      padding: 1vh 0.5vw;
      font-size: 16px;
      outline: none;
      color: white;
    }
  }
  section {
    padding: 1vh 1vw;
    header {
      color: #565a5f;
      font-family: helvetica;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    nav {
      ul {
        list-style: none;
        padding-inline-start: 1vh;
        li {
          color: #686d72;
          font-family: helvetica;
          padding: 1vh 5px;
          cursor: pointer;
          border-radius: 5px;
          svg {
            width: 15px;
            vertical-align: middle;
            margin-right: 4px;
            // color: gray;
          }
          img {
            vertical-align: middle;
            width: 30px;
            margin-right: 4px;
          }
          &:hover {
            color: #aeb0b4;
            background-color: #343c44;
          }
        }
      }
    }
  }
}
