// .ribbon {
//   position: absolute;
//   color: #242a31;
//   left: -25px;
//   transform: rotate(-45deg);
//   top: 22px;
//   width: 120px;
//   background: linear-gradient(#db5a5a, #bb4545);
//   height: 23px;
//   line-height: 23px;
//   box-shadow: 0px 0px 5px black;
//   font-family: helvetica;
//   font-size: 13px;
//   font-weight: bold;
//   text-shadow: 0px 0px 2px #bb4545;
// }
.ribbon {
  position: absolute;
  left: -32px;
  transform: rotate(-45deg);
  top: 30px;
  width: 150px;
  background: linear-gradient(#62ad6fc2, #45bb54);
  height: 23px;
  line-height: 23px;
  box-shadow: 0px 0px 5px #37b500;
  font-family: helvetica;
  font-size: 13px;
  font-weight: bolder;
  color: #002100;
  letter-spacing: 1px;
}
main {
  height: calc(94vh - 110px);
  overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    background: var(--cbox-scrollbar-bg);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--cbox-scrollbar-bg);
    box-shadow: 0 0 2px 1px #212429;
  }
  &::-webkit-scrollbar-track {
    background: var(--cbox-scrollbar-track);
    // border-left: 1px solid var(--cbox-scrollbar-track-border);
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
}
aside {
  background-color: var(--aside-background);
  width: 18vw;
  height: 100vh;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  &.embedded {
    width: 25vw;
  }
  > header {
    text-align: center;
    height: 60px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--aside-separator);
    margin-bottom: 1vh;
    position: relative;
    input {
      background: var(--aside-input-bg);
      border: none;
      border-radius: 50px;
      padding: 1vh 0.5vw;
      font-size: 16px;
      outline: none;
      color: var(--aside-input-color);
    }
    button.clearSearch {
      position: absolute;
      bottom: 0.8vh;
      right: calc(2vw + 4px);
      background: transparent;
      border: none;
      color: var(--aside-input-color);
      outline: none;
      cursor: pointer;
      svg {
        width: 16px;
      }
    }
    .title {
      color: var(--aside-title-color);
      font-family: Poppins;
      font-size: 1.35vw;
      margin-bottom: 5px;
      svg {
        width: 50px;
        color: var(--aside-title-color);
        vertical-align: bottom;
      }
    }
  }
  section {
    padding: 1vh 1vw;
    header {
      color: var(--aside-header-color);
      font-family: helvetica;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    nav {
      ul {
        list-style: none;
        padding-inline-start: 1vh;
        li {
          color: var(--aside-item-color);
          font-family: helvetica;
          padding: 1vh 5px;
          cursor: pointer;
          border-radius: 5px;
          position: relative;
          .close {
            position: absolute;
            right: 20px;
            top: 8px;
            color: #585858;
            cursor: pointer;
            display: none;
          }
          &.md {
            .close {
              top: 14px;
            }
            span.notification {
              margin-top: 11px;
            }
            height: 30px;
            display: flex;
            align-items: center;
          }
          svg {
            width: 15px;
            vertical-align: middle;
            margin-right: 4px;
            // color: gray;
          }
          img {
            vertical-align: middle;
            max-width: 30px;
            max-height: 30px;
            margin-right: 4px;
          }
          &:hover, &.active {
            .close {
              display: block;
            }
            color: var(--aside-item-hover-color);
            background-color: var(--aside-item-hover-bg);
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: var(--aside-item-hover-bg);
              position: absolute;
              top: calc(50% - 5px);
              right: -5px;
              transform: rotate(45deg);
            }
          }
          .notification {
            background-color: var(--aside-notify-bg);
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            right: 5px;
            top: 10px;
            margin: 5px;
            box-shadow: 0px 0px 10px var(--aside-notify-bg);
            &.mention {
              background-color: var(--aside-notify-important-bg);
              box-shadow: 0px 0px 10px var(--aside-notify-important-bg);
            }
          }
        }
      }
    }
  }
  .details {
    text-align: right;
    margin-right: 1vw;
    position: absolute;
    bottom: 6vh;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    height: fit-content;
    a.help {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0px;
      text-align: left;
      left: 5px;
      cursor: pointer;
      color: #5bccdc;
      font-family: Poppins;
      font-size: 12px;
    }
    svg {
      width: 1.3vw;
      color: var(--alternative-button-color);
      margin: 0px 5px;
      cursor: pointer;
      vertical-align: middle;
      position: relative;
      &.fa-exchange-alt {
        transform: rotate(-45deg);
      }
      &:hover {
        color: var(--alternative-button-active);
      }
    }
  }
  footer {
    text-align: right;
    margin-right: 1vw;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 2vw);
    padding: 1vh 1vw;
    background: var(--aside-footer-bg);
    box-shadow: 0px 0px 5px black;
    svg {
      width: 1.8vw;
      color: var(--alternative-button-color);
      margin: 0px 5px;
      cursor: pointer;
      vertical-align: middle;
      &.fa-exchange-alt {
        transform: rotate(-45deg);
      }
      &:hover {
        color: var(--alternative-button-active);
      }
    }
    span {
      color: var(--aside-footer-color);
      font-family: Poppins;
      float: left;
      display: block;
      width: calc(100% - 45px);
      overflow: hidden;
      font-size: 21px;
      text-align: left;
    }
  }
}
