aside {
  background-color: #1d232a;
  width: 18vw;
  height: 100vh;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  > header {
    text-align: center;
    height: 60px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #0f1316;
    margin-bottom: 1vh;
    input {
      background: #363d44;
      border: none;
      border-radius: 50px;
      padding: 1vh 0.5vw;
      font-size: 16px;
      outline: none;
      color: white;
    }
    .title {
      color: #797a7d;
      font-family: Poppins;
      font-size: 1.35vw;
      margin-bottom: 5px;
      svg {
        width: 50px;
        color: #797a7d;
        vertical-align: bottom;
      }
    }
  }
  section {
    padding: 1vh 1vw;
    header {
      color: #565a5f;
      font-family: helvetica;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    nav {
      ul {
        list-style: none;
        padding-inline-start: 1vh;
        li {
          color: #686d72;
          font-family: helvetica;
          padding: 1vh 5px;
          cursor: pointer;
          border-radius: 5px;
          svg {
            width: 15px;
            vertical-align: middle;
            margin-right: 4px;
            // color: gray;
          }
          img {
            vertical-align: middle;
            width: 30px;
            margin-right: 4px;
          }
          &:hover, &.active {
            color: #aeb0b4;
            background-color: #343c44;
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: #343c43;
              position: absolute;
              top: calc(50% - 5px);
              right: -5px;
              transform: rotate(45deg);
            }
          }
          .notification {
            background-color: #5fd5e5;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            float: right;
            margin: 5px;
            box-shadow: 0px 0px 10px #5fd5e5;
            &.mention {
              background-color: #e55f5f;
              box-shadow: 0px 0px 10px #e55f5f;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: right;
    margin-right: 1vw;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 2vw);
    padding: 1vh 1vw;
    background: #212429;
    box-shadow: 0px 0px 5px black;
    svg {
      width: 1.8vw;
      color: #797a7d;
      margin: 0px 5px;
      cursor: pointer;
      vertical-align: middle;
      &.fa-exchange-alt {
        transform: rotate(-45deg);
      }
      &:hover {
        color: #fad56e;
      }
    }
    span {
      color: #797a7d;
      font-family: Poppins;
      float: left;
      display: block;
      width: calc(100% - 140px);
      overflow: hidden;
      font-size: 21px;
      text-align: left;
    }
  }
}
