nav {
  padding: 0px 0.5vw;
  h4 {
    text-transform: uppercase;
    font-family: helvetica;
    color: #7a7f83;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      position: relative;
      font-family: helvetica;
      color: #7a7f83;
      padding: 7px 7px;
      border-radius: 7px;
      cursor: pointer;
      .defaultImage, img {
        width: 25px;
        height: 25px;
        vertical-align: middle;
      }
      .times {
        width: 15px;
        vertical-align: middle;
        float: right;
        display: none;
      }
      &:hover, &.active {
        background: #343c45;
        .times {
          display: block;
        }
      }
      .notify {
        width: 5px;
        height: 30px;
        background: #4bb91e;
        position: absolute;
        top: 5px;
        left: -6px;
        border-radius: 5px;
      }
      .badges {
        display: inline-block;
        .badge {
          padding: 2px 4px;
          border: 1px solid;
          border-radius: 3px;
          display: inline-block;
          font-size: 13px;
          font-family: Helvetica;
        }
      }
    }
  }
}
