main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box {
    font-family: Helvetica;
    width: 75vw;
    height: 85vh;
    padding: 5px;
    background: var(--popup-background);
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 5px black;
    .waterMark {
      text-align: center;
      color: gray;
      margin: 10px;
    }
    header {
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: var(--popup-color);
      margin-bottom: 5px;
      border-bottom: 1px solid var(--popup-separtor);
      padding: 8px 0px;
      svg {
        position: absolute;
        width: 13px;
        right: 6px;
        color: var(--popup-color);
        cursor: pointer;
      }
    }
    section {
      height: calc(100% - 40px);
      overflow-y: scroll;
      color: var(--popup-color);
      &::-webkit-scrollbar-thumb {
        background: var(--cbox-scrollbar-bg);
      }
      &::-webkit-scrollbar-thumb:hover {
        background: var(--cbox-scrollbar-bg);
        box-shadow: 0 0 2px 1px #212429;
      }
      &::-webkit-scrollbar-track {
        background: var(--cbox-scrollbar-track);
        border-left: 1px solid var(--cbox-scrollbar-track-border);
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      p.error {
        text-align: center;
        font-weight: bolder;
        color: var(--popup-error-color);
        font-style: italic;
      }
      .inputBox {
        margin: 10px 0px;
        position: relative;
        label {
          color: var(--popup-label-color);
          font-size: 16px;
          &.float {
            top: 5px;
            position: absolute;
            right: 0px;
            font-size: 10px;
          }
          &.special {
            text-align: center;
            display: block;
            margin: 6px;
            color: #d46d6d;
          }
        }
        input {
          border: 1px solid var(--popup-separtor);
          border-radius: 3px;
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          color: var(--popup-input-color);
          background: var(--popup-input-background);
          &[type="checkbox"] {
            position: absolute;
            right: 0px;
            width: 21px;
            height: 21px;
          }
        }
      }
      ul {
        margin: 0px;
        padding: 0px;

        list-style: none;
        background: var(--popup-list-bg);
        border: 1px solid var(--popup-list-border-color);

        border-radius: 3px;
        li {
          padding: 5px;
          border-bottom: 1px dotted gray;
          cursor: pointer;
          &:hover {
            background: var(--popup-list-bg-hover);
          }
          &.active {
            background: var(--popup-list-bg-active);
          }
          &:last-child {
            border-bottom: 0px;
          }
        }
      }
    }
    footer {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid var(--popup-separtor);
      button {
        background: var(--popup-button-background);
        border-radius: 3px;
        border: 0px;
        float: right;
        padding: 5px;
        cursor: pointer;
        color: var(--popup-button-color);
        margin-left: 5px;
        &.secondary {
          background: var(--popup-button-background-secondary);
        }
      }
    }
  }
}
